<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
<h1>로그인 페이지!!</h1>
<hr>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="UserName">
    <input type="password" name="password" placeholder="Password">
    <button>로그인</button>
</form>
<a href="/joinForm">회원가입</a>

<div>
    <h2 id="errorMsg" style="color: red;"></h2>
</div>
<script>
    /*<![CDATA[*/
    console.log('[[ ${session.greeting} ]]');
    if ( '[[ ${session.greeting} ]]' === '' )
        document.getElementById("errorMsg").innerText = '[[ ${session.errorMsg} ]]';
    /*]]*/
</script>
</body>
</html>